<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjh3qQZ0d6TYbL9AondZd5FrJFTYqhqU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1013336237530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutionMaster</string>
	<key>PROJECT_ID</key>
	<string>tution-master-ee844</string>
	<key>STORAGE_BUCKET</key>
	<string>tution-master-ee844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013336237530:ios:1005bf4186203e6e2dcce3</string>
</dict>
</plist>